<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <div class="app">
        <div class="holder headline">
            Weather Journal App
        </div>
        <div class="holder zip">
            <label for="zip">Enter US Zipcode here</label>
            <input type="number" id="zip" placeholder="e.g. 94040" maxlength="6" min="10000" max="99999" required>
        </div>
        <div class="holder feel">
            <label for="feelings">How are you feeling today?</label>
            <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="4" cols="40"></textarea>
            <button id="generate" type="submit"> Generate </button>
        </div>
        <div class="holder entry">
            <div class="title">Most Recent Entry</div>
            <div id="entryHolder">
                <div id="date"></div>
                <div id="temp"></div>
                <div id="content"></div>
            </div>
        </div>
    </div>
    <section class="app">
        <div class="holder zip">
            <label for="cityname">Enter Name of City here</label>
            <!-- <input type="text" id="cityname" placeholder="e.g. Edinburgh" minlength="4" required> -->
            <input type="text" id="cityname" value="Edinburgh" minlength="4" required>

            <label for="traveldate">Enter <em>Start date</em> of planned travel</label>
            <input type="date" id="traveldate" value="2021-05-21">

            <label for="enddate">Enter <em>End date</em> of planned travel</label>
            <input type="date" id="enddate" value="2021-06-04">

            <!-- The button starts our travel app operation -->
            <button id="geoinformation" type="button"> Get geoinformation</button>
        </div>
        <div class="holder entry">
            <div class="title">Time until travel day</div>

            <div id="entryHolderCount">
                <div id="countdown-days"></div>
            </div>
            <div class="title">Length of trip</div>

            <div id="entryHolderLength">
                <div id="triplength-days"></div>
            </div>
        </div>
        <div class="holder entry">
            <div class="title">Geoinformation Entry</div>

            <div id="entryHolderGeo">
                <div id="geo-city"></div>
                <div id="geo-country"></div>
                <div id="geo-population"></div>
                <div id="geo-longitude"></div>
                <div id="geo-latitude"></div>
            </div>
        </div>
        </div>
    </section>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->

</body>

</html>